* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.background {
  background: url('xbox.jpg')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  height: calc(100vh + 60px);
  width: calc(100vw + 60px);
  z-index: -1;
  filter: blur(0px);
}

.progress {
  font-size: 60px;
  color: #fff;
}
